* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    flex-basis: 1440px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    background-image: url('./images/bg-bottom.svg'), url('./images/bg-top.svg');
    background-position: bottom left, top right;
    background-repeat: no-repeat, no-repeat;
}

.heading {
    align-self: center;
    height: 15vh;
    display: flex;
    align-items: flex-end;
    font-size: 30px;
    opacity: 70%;
    padding-bottom: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    flex-basis: 1440px;
    /* border: solid red; */
}

/* Plans and their divs */

.plan {
    display: flex;
    justify-content: center;
    height: 15vh;
}

.annually,
.monthly {
    display: flex;
    align-items: center;
}

/* Cards and their divs */

.cards {
    display: flex;
    height: auto;
    justify-content: center;
    /* border: solid gray; */
    height: 350px;
}

.basic-card {
    display: flex;
    flex-direction: column;
    background-color: hsl(240, 78%, 98%);
    align-items: center;
    flex-basis: 300px;
    justify-content: space-around;
    height: 350px;
    border-radius: 0.5em;
}

.professional-card {
    display: flex;
    flex-direction: column;
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    align-items: center;
    flex-basis: 300px;
    color: white;
    justify-content: space-around;
    height: 380px;
    margin-top: -15px;
    border-radius: 0.5em;
}

.inner-professional-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 80%;
    color: white;
    justify-content: space-around;
    height: 350px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* border: solid black; */
}

.master-card {
    display: flex;
    flex-direction: column;
    background-color: hsl(240, 78%, 98%);
    align-items: center;
    flex-basis: 300px;
    justify-content: space-around;
    height: 350px;
    border-radius: 0.5em;
}

.price {
    display: flex;
    font-size: 50px;
    /* border: solid black; */
    margin-top: -20px;
    height: 100px;
}

.dollar {
    font-size: 40px;
    padding-top: 7px;
    padding-right: 2px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid black; */
    height: 550px;
    padding-top: 15px;
    border-top: 1px solid rgb(200, 200, 200);
    flex-basis: 80%;
}

.professional-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: solid black; */
    height: 550px;
    padding-top: 15px;
    border-top: 1px solid rgb(200, 200, 200);
    flex-basis: 100%;
}

/* card elements */

.card-name {
    /* border: solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.button {
    background: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    /* border: solid black; */
    display: flex;
    align-items: center;
    padding-inline: 80px;
    flex-basis: 40px;
    border-radius: 0.5em;
}

.professional-button {
    background: hsl(240, 78%, 98%);
    /* border: solid black; */
    display: flex;
    align-items: center;
    padding-inline: 80px;
    flex-basis: 40px;
    border-radius: 0.5em;
}

.professional-learn-more {
    display: flex;
    background: none;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: hsl(232, 13%, 33%);
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    cursor: pointer;
}


.learn-more {
    display: flex;
    background: none;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    cursor: pointer;
}

.storage,
.users-allowed,
.send-upto {
    position: relative;
    /* border: solid black; */
    height: auto;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.bottom {
    /* border: solid black; */
    justify-content: center;
    align-items: center;
    flex-basis: 100px;
}

.toggle-switch {
    flex-basis: 15%;
    height: 20%;
    display: flex;
    justify-content: center;
}

.toggler {
    display: flex;
    background-color: #787EE0;
    flex-basis: 75px;
    height: 36px;
    border-radius: 60px;
    cursor: pointer;
    position: relative;
    transition: 0.2s;
}

.toggler::before {
    position: absolute;
    content: '';
    background-color: #fff;
    width: 32px;
    height: 31px;
    border-radius: 60px;
    margin: 2px;
    transition: 0.2s;
}

input:checked+.toggler {
    background-color: #787EE0;
}

input:checked+.toggler::before {
    transform: translateX(39px);

}

input {
    display: none;
}

.annually {
    font-family: "Montserrat";
    margin-top: 0.4rem;
}

.monthly {
    font-family: "Montserrat";
    margin-top: 0.4rem;
}